* {
  margin: 0 auto;
  padding: 0;
}

#main-doc {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #96ADC8;
}

#top-column {
  width: 100%;
  height: 120px;
  border: 1px solid black;
}

#flex-parent {
  width: 100%;
  display: inline-flex;
}

#main-left-col {
  width: 10%;
  border: 1px solid black;
  align-content: flex-start;
  flex-grow: 1;
  background-color: #D7FFAB;
}

#main-right-col {
  width: 90%;
  border: 1px solid black;
  flex-grow: 1;
  background-color:#FCFF6C;
}

.main-section {

}

ul {
  list-style: none;
}

.flexpics {
	width: 30%;
	height: 15%;
	justify-content: 
}

code {
	border: 1px solid black;
	background-color: black;
	color: white;
}

header {
	font-size: 2rem;
	color: #96ADC8;
}