* {
  margin: 0;
  padding: 0;
}

:root {
  --video-frame-size: 500px;
}

@media (max-width: 400px){
  :root {
    --video-frame-size: 350px;
  }
}

.video {
  width: var(--video-frame-size, 500px;);
  height: var(--video-frame-size, 500px;);
  display: block;
  margin: 0 auto;
}

#header {
  background-color: red;
  display: flex;
  flex-direction: column;
}

#header img {
  width: 50%;
  height: 50%;
}

#nav-bar {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.nav-link {
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  background-color: yellow;
}

#container {
  padding-top: 5%;
  padding-bottom: 5%;
  align: center;
}

#flex-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 80vh;
  justify-content: space-between;
}

#product {
  height: 300px;
  border: 1px solid black;
}

#about {
  height: 250px;
  border: 1px solid black;
}

#hardware {
  height: 425px;
  width: 50%;
  border: 1px solid black;
}

#software {
  height: 250px;
  width: 50%;
  border: 1px solid black;
}

#contact {
  height: 300px;
  border: 1px solid black;
}
